.anteater{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1{
    text-align: center;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

div{
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    text-align: left;
}

form input[type="text"]{
    margin: 10px 0;
}

top-right-button{
    position: fixed;
    top: 10px;
    right: 10px;
    
}